@import "./base.less";

.slider-container {
	height: 78%;
	min-height: 650px;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 2px solid #fff;
	margin-top: -1 * @navbar-height;
	position: relative;
	z-index: 2;
}

.slider-container section {
	background-color: #fff;
	overflow: hidden;

}